*.psd filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
Ball[[:space:]]on[[:space:]]Field_Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
Ball[[:space:]]on[[:space:]]Field_Data/sharedassets0.assets filter=lfs diff=lfs merge=lfs -text
*.assets filter=lfs diff=lfs merge=lfs -text
